body {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #163549;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  background-color: #163549;
  font-family: "Roboto";
}

nav a {
  text-decoration: none;
  color: white;
}
