:root {
  --dblue: #163549;
  --blue: #0c8ca7;
  --lblue: #77c9c3;
  --white: #f3f2ec;
  --red: #d6594d;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

p {
  color: var(--dblue);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--dblue);
}

header img {
  margin-top: 1vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  background-color: var(--dblue);
  font-family: "Roboto";
}

nav a {
  text-decoration: none;
  color: var(--white);
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.intro video {
  margin: 0px;
  padding: 0px;
}

.intro div {
}

.mabout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mabout-icon {
  grid-column-start: 2;
  text-align: center;
  margin: 5%;
  margin-top: 8%;
  color: var(--dblue);
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 10vh;
}

.info p {
  margin: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

.s3 {
  background-image: url(Images/Skiing_01.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.s3 header {
  color: var(--white);
}
