:root {
  --dblue: #163549;
  --blue: #0c8ca7;
  --lblue: #77c9c3;
  --white: #f3f2ec;
  --red: #d6594d;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

p {
  color: var(--dblue);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--dblue);
}

header img {
  margin-top: 1vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  background-color: var(--dblue);
  font-family: "Roboto";
}

nav a {
  text-decoration: none;
  color: var(--white);
}

nav a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: var(--white);
  transition: width 0.4s;
}

nav a:hover::after {
  width: 100%;
  transition: width 0.4s;
}

footer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  background-color: var(--dblue);
  text-align: center;
  text-decoration: none;
  padding-top: 5vh;
  justify-items: center;
  align-items: center;
}

footer ul {
  list-style: none;
}

footer p {
  color: var(--white);
}

footer a {
  color: var(--white);
}
